.sidebar {
    font-family: "Quicksand", sans-serif;
    /* backdrop-filter: blur(8px); */
    height: 100px;
    max-width: 100%;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .links {
    display: flex;
    height: fit-content;
    max-width: fit-content;
  
    position: absolute;
    right: 0;
  }
  .logo-link {
    align-items: left;
    text-decoration: none;
    position: absolute;
    left: 10px;
    height: auto;
  }
  
  .logo-image {
    max-width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between the logo and text */
  }
  
  .sidebar nav {
    background-color: transparent;
    overflow: hidden;
    list-style: none;
  
    padding: 2vw 0;
    display: flex;
  
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .sidebar nav a {
    float: left;
    color: white;
    text-align: center;
  
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
  }

  .main .square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
  
    margin: auto;
    width: 2rem;
    height: 2rem;
    border: 3px solid cyan;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
    animation: loader 6s infinite ease-in-out;
    z-index: -100;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg) scale(5);
    }
  
    50% {
      transform: rotate(720deg) scale(5);
    }
  
    100% {
      transform: rotate(0deg) scale(5);
    }
  }
  /* @media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #34495ed9;
    backdrop-filter: blur(10px);
    
    -webkit-backdrop-filter: blur(10px);

    z-index: 9999;
    overflow: hidden;
  }
  .logo {
    position: absolute;
    left: 10px;
  }
  .links {
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;
  }
  .menu li {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }

  .menu li a {
    width: 100%;
  }

  .menu li:hover {
    cursor: pointer;
  }

  .menu li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .menu-toggle {
    display: block;
    position: relative;
    z-index: 9999;
    cursor: pointer;
  }
} */