:root[data-theme="light"] {
    --text: #08051a;
    --text-secondary: #555;
    --background: #ebeafb;
    --primary: #1a166f;
    --secondary: #e77eb3;
    --accent: #ab2a21;
    --success:#4caf50;
  }
:root[data-theme="dark"] {
    --text: #e8e5fa;
    --text-secondary: #555;
    --background: #050415;
    --primary: #9590e9;
    --secondary: #81184d;
    --accent: #de5d54;
    --success:#4caf50;
  }
