@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap');

*:focus {
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #011627;
    padding-bottom: 100px;
    overflow: hidden;
}

.sidebar {
    font-family: 'Quicksand', sans-serif;
    backdrop-filter: blur(8px);
    height: 100px;
}

.sidebar nav {
    background-color: transparent;
    overflow: hidden;
    list-style: none;
    font-size: 20px;
    padding: 33px 0;

    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
}

.sidebar nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
}
p{
    font-size: 6vw;
    color: white;
    margin: 0 auto;
    display: flex;
    margin-top: 30vh;
    justify-content: center;
    font-family: monospace;
}