@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #011627;
    padding-bottom: 100px;
    overflow: hidden; 
}
.sidebar {
    font-family: 'Quicksand', sans-serif;
    backdrop-filter: blur(8px);
    height: 100px;
}

.sidebar nav {
    background-color: transparent;
    overflow: hidden;
    list-style: none;
    font-size: 20px;
    padding: 33px 0;
}

.sidebar nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
}

/*  */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.input-field {
  position: relative;
}
.input-field input {
  width: 400px;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  margin-top: 15px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  outline: none;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus {
  border: 2px solid #ffcc00;
}
input:focus ~ label,
input:valid ~ label {
  top: 15px;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #011627;
}
.contact-wrapper textarea {
    width: 400px;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    background: none;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 330px;
    border: 2px solid #fff;
    
  }
  textarea::placeholder {
    color: #fff;
  }
  textarea:is(:focus, :valid) {
    padding: 14px;
    border: 2px solid #ffcc00;
  }
  textarea::-webkit-scrollbar {
    width: 0px;
  }
  
/*  */
#contact {
    width: 100%;
    height: 100%;

}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;

    /* width: 470px; */
    border-radius: 5px;
    padding: 25px 25px 30px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.06);
}

/* Left contact page */
/* .form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
} */

/* .form-control,
textarea {
    width: 500px;
    max-width: 500px;
    background-color: #011627;
    color: #fff;
    letter-spacing: 1px;
} */

.send-button {
    margin-top: 15px;
    height: 36px;
    width: 435px;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
    font-size: 14px;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    text-align: center;
    transition: all .2s ease-in-out;
}
#paper-plane{
    margin-top: 7px;
}
.send-text {
    display: block;
    margin-top: 15px;
    font: 700 14px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #012b4d;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #011627;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }

    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    /* .form-control,
    textarea {

        margin: 0 auto;
    } */


    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}