@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #011627;
  scroll-behavior: smooth;
  /* padding-bottom: 100px; */
}

.sidebar {
  font-family: 'Quicksand', sans-serif;
  /* backdrop-filter: blur(8px); */
  height: 20vh;
}

.sidebar nav {
  background-color: transparent;
  overflow: hidden;
  list-style: none;

  padding: 2vw 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.sidebar nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 17px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #34495Ed9;
    backdrop-filter: blur(10px);
    /* adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
    /* padding: 10px; */
    z-index: 9999;
    overflow: hidden;

  }

  .menu li {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }

  .menu li a {
    width: 100%;
  }

  .menu li:hover {
    cursor: pointer;
  }

  .menu li a:hover {
    color: #fff;
    text-decoration: underline;
  }

  .menu-toggle {
    display: block;
    position: relative;
    z-index: 9999;
    cursor: pointer;
  }
}

.Section_info {
  height: 100vh;
  /* This sets the height of the element to the full height of the viewport */
}

.Github_stats {
  height: 100vh;
  /* This sets the height of the element to the full height of the viewport */
}

.info_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
}

.intro_main {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #172a45;
  border-radius: 20px;
  padding: 1vw;
  top: 70px;
  height: auto;
  text-shadow: #000;

  width: 600px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.middle {
  position: fixed;
  /* transform: translateY(-50%); */
  text-align: center;
  bottom: 0;
  height: 100px;

  right: 10px;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
  color: #446eac;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 50px;
  font-size: 16px;
  transition: 0.2s linear;
}

.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #446eac;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.Skills{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  margin-left: 400px;
  justify-content: center;
}
.card {
  width: 354px;
  height: 354px;
  background: linear-gradient(344deg, rgb(36, 80, 150) 0%, #001f30 50%);
  box-shadow: 4px 6px 14px #000000;
  border-radius: 20px;
  margin:  10px;
  color: #F9F9F9;
  padding: 16px;
  transition: all .3s;
 }
 
 .card:hover {
  margin-top: -30px;
 }




.card h2 {
   margin-top: 0px;
   font-size: 40px;
   font-family: 'Bebas Neue', cursive;

}

.card li {
  margin-bottom: 0px;
  text-align: start;
  font-size: 20px;
  padding: 5px;
  align-items: start;
  justify-content: start;
  font-family: 'Varela Round', sans-serif;
} 

.stats {
  display: flex;
  justify-content:end;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.stats p {
  padding: 10px;

}

.stats p img {
  background-color: rgb(0, 0, 0);
  background: #000;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
/* ::-webkit-scrollbar-track { */
/* box-shadow: inset 0 0 5px grey; 
    border-radius: 10px; */
/* } */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #050b11;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #172a45;
}

/* Background waves */
.box {
  position: fixed;
  top: 0;
  width: 30%;
  transform: rotate(100deg);
  filter: blur(50px);
  left: 0;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .4;
  position: absolute;

  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: 100px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 50%;
  animation: drift 6000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
  position: fixed;
  background-color: #77daff;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
  position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.header {
  font-family: 'Orbitron', sans-serif;
  font-size: 86px;
  color: white;
  text-shadow: 5px 5px 0 #000;
  padding: 20px;
  z-index: 10;
  position: relative;
}

.Section_info a {
  padding-top: 60px;
}

.Section_info a span {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.Section_info a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.Section_info a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 619px) {
  .wave {
    display: none;
  }

  .Github_stats {
    position: relative;
    top: 30vh;
  }
  .Skills{
    display: flex;
    margin-left: 0px auto;
    justify-content: center;
  }
}

@media screen and (max-width: 1085px) {

  .Section_info a {
    display: none;
  }
  .Skills{
    margin-left: 200px;
  }
}