@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&family=Roboto+Mono:ital,wght@0,400;1,200&display=swap");

.container {
  display: grid;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.infocontainer {
  margin: auto;
  position: relative;
  top: -50px;

  height: 265px;
  max-width: 80vw;
  display: flex;
  justify-content: space-around;
  text-shadow: #000;
}

.devinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hello {
  font-size: 41px;
  color: white;
  padding: 0;
  margin: 10px;
  position: relative;
  top: 20px;

}

.name {
  font-size: 44px;
  color: red;
  font-family: "Roboto Mono", monospace;
  text-decoration: double;
  padding: 0;
  margin: 10px;
}

.buttons button {
  width: 140px;
  height: 45px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttons #contact_me:hover {
  background-color: #f3270b;
  box-shadow: 0px 15px 20px rgba(243, 42, 11, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.buttons #download_cv:hover {
  background-color: #0b91f3;
  box-shadow: 0px 15px 20px rgba(11, 113, 243, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.middle {
  position: fixed;
  text-align: center;
  bottom: 0;
  height: 100px;
  right: 10px;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f1f1f1;
  margin: 10px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
  color: #446eac;
  overflow: hidden;
  position: relative;
}

.btn i {
  line-height: 40px;
  font-size: 18px;
  transition: 0.2s linear;
}

.btn:hover,.btn:hover i {
  transform: scale(1.3);
}

.content {
  transform: translate(-50%, -50%);
  height: 160px;
  position: relative;
  top: 20px;
  left: 210px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.content__container:before {
  content: "[";
  left: 0;
}

.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}

.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  width: 50px;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;

  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__list {
  margin-top: 0;
  width: fit-content;
  height: 100%;
  text-align: center;
  list-style: none;

  margin-left: 50px;
  
  animation-name: change;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0%, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, 0%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -100%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -200%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -100%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }

  50% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}